* {
    margin: 0;
    padding: 0;
}

body {
	background-color: black;
	background-image: url(../images/brick-wall-background.jpg);
}

#begin-game {
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
	/*background-color: orange;*/
}

#begin-button {
    background-color: transparent;
    border: none;
    width: 60%;
    margin-left: 20%;
}

#play-iamge {
	width: 100%;
}

#selections {
	/*background-color: yellow;*/
}

#rock-selector {
	display: inline-block;
    background-color: transparent;
    border: none;
	/*background-color: blue;*/
}

#paper-selector {
	display: inline-block;
    background-color: transparent;
    border: none;
	/*background-color: green;*/
}

#scissors-selector {
	display: inline-block;
    background-color: transparent;
    border: none;
	/*background-color: purple;*/
}

#rock-image {
	width: 80%;
	margin-left: 10%;
}

#paper-image {
	width: 80%;
	margin-left: 10%;
}

#scissors-image {
	width: 80%;
	margin-left: 10%;
}

#score-update {
	background-color: magenta;
}

.score-content {
	color: yellow;
}